.container-fluid {
    background-image: url(../images/Wall.png);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(91,91,91,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(91,91,91,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(91,91,91,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(91,91,91,1.00) 100%);
}

.navbar {
  color: #010101;
}


.navbar-nav.mr-auto .nav-item .nav-link {
    color: #F8BE16;  
}
body footer {
    color: #010101;
    font-weight: bold;
}

#accordion {
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 5%;
    color: #010101;
}

h5 {
	color: #010101;
}



body {
    background-image: url('/static/Wall.png');
}






.container {
  width:100%;
  margin:0 auto;
  position:relative;
}
.carousel-inner .carousel-item.active .carousel-caption {
    font-style: italic;
    font-weight: bolder;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.container-fluid .container .text-center {
    font-style: oblique;
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 10px;
}
.card #headingOne1 .mb-0 {
}
#accordion .card {
    background-color: #F4E5B1;
    color: #373737;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}




.job-date {
    display: inline-block;
    width: 100%;
    padding-left: 4px;
    margin-left: 20px;
    color: #010101;
}

.job-date span {
  display: inline-block;
  width: 100px;
}

.job-date span:first-child {
  text-align: right;
}

.job-date span:last-child {
  text-align: left;
}

.job-date span:first-child::after {
  content: " : ";
 }

.job-date {
    display: inline-block;
    width: 100%;
    padding-left: 4px;
    margin-left: 20px;
    color: #010101;
}



.duty-prefix {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 80px;	
}

.duty-prefix::before {
  content:  ' ● ';
}

.job-title {
    text-indent: 80px;
    font-weight: normal;
    font-size: large;
}

#footer {
    width: auto;
    text-align: center;
    font-style: italic;
}