<!DOCTYPE html>
<html>
<head>
    <title>Applcation Submitted</title>
</head>

<body>

    <p>Your application for "{{job['id']}}" the role of "{{job['title']}}" has been submitted</p>
    
    <h4>Full Name</h4>
    <div>{{applcation['full_name']}}</div>
    
    <h4>Email</h4>
    <div>{{applcation['email']}}</div>

    <h4>LinkIn</h4>
    <div>{{applcation['linkedin_url']}}</div>

    <h4>Education</h4>
    <div>{{applcation['education']}}</div>
    
    <h4>Work Experience</h4>
    <div>{{applcation['work_experience']}}</div>

    <h4>Resume URL</h4>
    <div>{{applcation['resume_url']}}</div>
    

</body>

    
</html>