<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
				<!-- Bootstrap and custom CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
		<title>Danny Resume</title>
  </head>

<body>  

<body>
      {% include "nav.html"  %}

      <h1 class="text-center" style="color:white">Contact</h1>
						
			<p>
	
      <p class="text-justify" style="color:ghostwhite"><strong> Welcome to my website! My name is Danny Chui, and I'm excited to share my experiences and ideas with you. I have a passion for learn new technology, and I've been fortunate enough to have some amazing opportunities to work in this field. I started my career as programmer, where I learned the ropes and gained valuable skills that would serve me well throughout my career. When I'm not working, I love to learn new thing. I believe that knowledge is power, and I try to live my life in a way that reflects those values. I created this website to apply my new programming language knowledge. I hope you'll find it informative and engaging, and I look forward to hearing your feedback. Thank you for visiting my website, and I hope you'll come back soon!</strong></p>
  
       {% include "footer.html"  %}
  
</body>
</html>